{% extends "base.html" %}
{% load staticfiles %} 
{% block content %}
<!--About Section-->
<section id="about">
	<div class="container-fluid">
		<div class="row">
			<div class="jumbotron2">
				<br>
				<h2>About</h2>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-1">&nbsp;</div>
			<div class="col-sm-10">
				<p>
					The user enters the district or city name. A search provides the top 20 results in any of the following categories.<br>
					<ul type="square">
					<li>Fire Station
					<li>Hospital
					<li>Hotel
					<li>Metro Station
					<li>Park
					<li>Police Station
					<li>Restaurant
					<li>Shopping Mall
					</ul>
					The following details are presented for all the listed places matching the query:<br>
					<ul type="square">
					<li>Address
					<li>Local Phone Number
					<li>International Phone Number
					</ul>
					The search results include places within a radius of 10 kilometers sorted in the order of their importance. Ranking will favor prominent places within the specified area. Prominence can be affected by a place's ranking in Google's index, global popularity, and other factors.
				</p>
			</div> 
			<div class="col-sm-1">&nbsp;</div>               
		</div>
	</div>
</section>
<br>
<br>
{% endblock %}
	
