{% extends "base.html" %}
{% load staticfiles %} 
{% block content %}
<!--About Section-->
<section id="about">
	<div class="container-fluid">
		<div class="row">
			<div class="jumbotron2">
				<br>
				<h2>About</h2>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-12 text-center">
				<p>We all have seen ourselves stuck in emergency situations. This can be an urgent need to consult a doctor, or a place to meet friends.
				<br>Often, finding the nearest place that addresses your need turns out to be cumbersome.
				<br><br>Hey, don't worry! I am here to address all your concerns.
				<br><br>All you need to do is to type your city name or address in the address bar and select an option from the drop- down list.
				<br><br>Bang On! You have the desired list of all the nearby locations, as per your need.</p>
			</div>                
		</div>
	</div>
</section>
<br>
<br>
{% endblock %}
	
