{% load static %}
<!DOCTYPE HTML>
<HTML lang ="en-us">

<head>
	<!-- Basic Page needs -->
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta charset="utf-8"> 
		<title>Find-my-place</title>
		<meta name="description" content="Browse your way to the nearest place">
		<meta name="keywords" content="HTML, CSS, JavaScricpt">
		<meta name='revised' content='Friday, July 12, 2015, 9:32 pm'>
		<meta name="author" content="Diksha">
	
	<!-- Mobile Specific Metas-->
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta content="telephone=no" name="format-detection">

	<!-- Latest compiled and minified CSS -->
	<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css"/>  
  
	<!-- jQuery library--->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- Latest compiled JavaScript-->
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>

<body>

	<!-- Navigation-->
	<nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header page-scroll">
				<span class="navbar-brand"><img src="{% static "images/logo.png"%}" alt="logo"></img></span>
                <a class="navbar-brand" href="http://find-my-perfect-place.herokuapp.com">Find-my-place</a>
            </div>
            <div>
               <ul class="nav navbar-nav navbar-right">
                   <li><a href="search.html">Home</a></li>
                   <li><a href="about.html">About</a></li>
                   <li><a href="contact.html">Contact Us</a></li>
              </ul>
              <!--<ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                   <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>-->
            </div>
        </div><!--End Container-->
	</nav><!-- End Navigation --->

	{% block content %} {% endblock %}

	<footer class="footer-distributed">
		<div class="footer-left">
			<span><img src="{% static "images/logo.png"%}" alt="logo"></img></span>
			<p class="footer-links">
				<a href="search.html">Home</a>.
				<a href="about.html">About</a>.
				<a href="contact.html">Contact Us</a>.
			</p>
			<p class="footer-company-name">&copy; All rights reserved.</p>
		</div>

		<div class="footer-center">
			<div>
				<img src="{% static "images/contact-us.png"%}" alt="contact-us-icon" height=90px width=90px><br>
				<p>Contact Information:</p>
				<br><br>
				<p><a href="findmyplacehelp@gmail.com"><b>findmyplacehelp@gmail.com</b></a></p>
			</div>
		</div>

		<div class="footer-right">
			<div>
				<a href="https://github.com/Diksha-Rathi/find-my-place" target= "_blank">
				<img src="{% static "images/footer-git.png"%}" alt="git-icon" height=90px width=90px></a>
			</div>
			<br>
			<p class="footer-company-about">
				<span>Fork the code. Contribute.</span>
			</p>
		</div>
	</footer>

</body>

</html>
